body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: rgb(31, 30, 30);
    color: #fff;
   
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
   
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    width: 170px;
    padding: 10px;

}
button{
    font-size: 15px;
}