*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(221, 221, 223);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
    width: 20%;
    background-color: rgb(16, 174, 223);
    border-radius: 6px;
}

.input-control{
    outline: none;
    border: 2px solid black;
    width: 40%;
    padding: 10px 5px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    


}
input::placeholder{
    text-align: center;
   font-weight: bold;
   opacity: 1;
   color: black;
}
button{
    padding: 10px;
    color: black;
    font-weight: 600;

}
.buttons{
  display: flex;
  gap: 20px; 
}
.down-button{
 background-color: yellow;
 border: none;
 cursor: pointer;
 outline: none;
 border-radius: 5px;
}

.reset-button{
    background-color: rgb(42, 196, 4);
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
 }

.up-button{
    background-color: rgb(235, 97, 18);
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
   }
   