*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-h1: #ff0000;
        
}
body{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  background-color: #e8e8e8;
  margin: 0;
  overflow: hidden;
}
.container{
    padding: 20px 40px;
    background-color: #ffffff;
    border-radius: 0.4em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0,0.6);
}
.container h1{
    color: var(--color-h1);
    text-align: center;
    margin-bottom: 20px;
}
.container a {
    text-decoration: none;
    color: rgb(16, 80, 73);
}
.form-control{
position: relative;
margin: 20px 0px 20px;
width: 300px;
}
.form-control input{
    border: 0;
    border-bottom: 2px solid #e8e8e8;
    display: inline-block;
    width: 100%;
    padding: 15px;
    color: rgb(39, 93, 129);
}
.form-control input:focus,
.form-control input:valid{
    outline: none;
    border-bottom-color: #851a1a;
    font-size: 16px;
}

.btn{
cursor: pointer;
width: 100%;
background-color: var(--color-h1);
border-radius: 2em;
padding: 15px;
border: none;
font-size: 16px;
font-weight: 600;
color: #fff;
}
.btn:active{
    transform:scale(0.96) ;
}
.btn:focus{
    outline: none;
}
.text{
    font-size: 13px;
    margin-top: 30px;
}
.text a:hover{
    text-shadow: 3px 3px 10px rgba(0, 0, 0,0.6);
}
.form-control label{
 position: absolute;
left: 0;
top: 15px;
}
.form-control label span {
   display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.7, -0.6, 0.3, 1.55);
  }
  .form-control input:focus + label span,
.form-control input:valid + label span {
  color: #999;
  transform: translateY(-30px);
}